<div class="row">
  <div class="col">
    <div class="d-flex align-items-center justify-content-center min-vh-100">
      <form class="card w-50" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="card-header">Login to system...</div>
        <div class="card-body">
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">User name</label>
            <input type="text" class="form-control" id="userName" formControlName="userName">
          </div>
          <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="userPassword" formControlName="userPassword">
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
